@import "./index.css";

.plain-link {
  text-decoration: none !important;
}

.series-description {
  display: inline;
}

.series-description > div {
  display: inline;
}

.series-description > div > * {
  display: inline;
}
